header
    background-image: url();

    nav
        background-color: rgb(255, 255, 255, 0.5);


    .logo

    .menue

    .titre_principal
            font-family: 'bebas neue', sans-serif;
            font-size: 50px;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 2px black;
        


body

    .container_grotesquerie
        background-color: #0D0039;

    .container_monstre
        background-color: #001E44;
    
    .container_american_horror_story
        background-color: #370101;
    
    .container_ratched
        background-color: #00261F;
    
    .container_scream_queens
        background-color:#00383D; 





