footer
    background-color:rgb(4, 1, 17)
    display: flex
    text-decoration: none
    color: white
    flex-direction: column
    align-items: center
    width: 100%
    height: 200px
    padding: 2rem